.discoverClubIntro {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 120px 10px;
  background-image: url("../../assets/Images/img7.JPG");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  min-height: 100vh;
  width: 100%;
}

.tableExperience {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 120px 10px;
  background-image: url("../../assets/Discover/table.JPG");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  min-height: 100vh;
  width: 100%;
}

.stripShow {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 120px 10px;
  background-image: url("../../assets/Discover/strip.JPG");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  min-height: 100vh;
  width: 100%;
}

.privateDance {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 120px 10px;
  background-image: url("../../assets/Discover/privateDance.JPG");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  min-height: 100vh;
  width: 100%;
}

.partyGroup {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 120px 10px;
  background-image: url("../../assets/Discover/lamp.JPG");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  min-height: 100vh;
  width: 100%;
}

.requestParty {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 120px 10px;
  background-image: url("../../assets/Images/img2.JPG");
  /* background-image: url("../../assets/Discover/strip.JPG"); */
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  min-height: 100vh;
  width: 100%;
}

.privateDance::before,
.discoverClubIntro::before,
.tableExperience::before,
.stripShow::before,
.partyGroup::before,
.requestParty::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.699);
  z-index: 1;
}

.privateDance > *,
.discoverClubIntro > *,
.tableExperience > *,
.stripShow > *,
.partyGroup > *,
.requestParty > * {
  position: relative;
  z-index: 2;
}

.requestParty .requestPartyContents,
.partyGroup .partyGroupContents,
.privateDance .privateDanceContents,
.stripShow .stripShowContents,
.tableExperience .tableExperienceContents,
.discoverClubIntro .discoverClubIntroContents {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.requestParty .requestPartyContents h3,
.partyGroup .partyGroupContents h3,
.privateDance .privateDanceContents h3,
.stripShow .stripShowContents h3,
.tableExperience .tableExperienceContents h3,
.discoverClubIntro .discoverClubIntroContents h3 {
  color: white;
  text-transform: uppercase;
  font-size: 42px;
  text-align: center;
  font-weight: 500;
  text-shadow: 0 4px 4px rgb(120, 0, 0);
}

.discoverClubIntro .discoverClubIntroContents h5 {
  color: white;
  font-size: 30px;
  text-align: center;
  align-items: center;
  padding: 20px;
}
.requestParty .requestPartyContents p,
.partyGroup .partyGroupContents p,
.privateDance .privateDanceContents p,
.stripShow .stripShowContents p,
.tableExperience .tableExperienceContents p,
.discoverClubIntro .discoverClubIntroContents p {
  color: rgba(255, 255, 255, 0.88);
  font-size: 20px;
  text-align: center;
  font-weight: 400;
  padding: 40px 0px 0px 0px;
}

.requestParty .requestPartyContents button {
  color: white;
  background: rgb(120, 0, 0);
  padding: 10px 20px;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  margin: 30px 0px;
  display: flex;
}
