/* Container for the home page */
.homeContainer {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 150px 0px;
  background: rgba(0, 0, 0, 0.6);
}

/* Fixed background video */
.backgroundVideo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
}

/* Scrollable content */
.contentContainer {
  position: relative;
  z-index: 1;
  color: white;
  overflow-y: scroll;
}

.contentSection {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contentSection h1 {
  font-size: 35px;
  padding: 30px 5px;
}

.contentSection h2 {
  font-size: 40px;
  font-weight: bold;
  padding: 0px 5px 30px 5px;
}

.contentSection p {
  padding: 10px 0px;
  font-size: 20px;
}

.contentSection .contactButton,
.discoverButton {
  border: 1px solid white;
  padding: 15px 30px;
  border-radius: 7px;
  font-weight: bold;
  margin: 20px 5px;
}

.contentSection h3 {
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 30px 0px;
}

/* BACKGROUND IMAGE */
.welcomeContent {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 150px 10px;
  background-image: url("../../assets/Images/img4.JPG");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  min-height: 100vh;
  width: 100%;
}

.welcomeIntro {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 150px 10px;
  background-image: url("../../assets/Discover/privateDance.JPG");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  min-height: 100vh;
  width: 100%;
}

.qualityContent {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 150px 10px;
  background-image: url("../../assets/Images/img2.JPG");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  min-height: 100vh;
  width: 100%;
}

.aboutUsContent {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 150px 10px;
  background-image: url("../../assets/Images/img7.JPG");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  min-height: 100vh;
  width: 100%;
}

.welcomeContent::before,
.aboutUsContent::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.welcomeIntro::before,
.qualityContent::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.welcomeContent > *,
.welcomeIntro > *,
.qualityContent > *,
.aboutUsContent > * {
  position: relative;
  z-index: 2;
}
