.girls {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 120px 10px;
  background-image: url("../../assets/Images/img4.JPG");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  min-height: 100vh;
  width: 100%;
}

.girls::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.802);
  z-index: 1;
}

.girls > * {
  position: relative;
  z-index: 2;
}

.girlsContainer {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  -webkit-column-width: 33%;
  column-width: 33%;
  padding: 10px 12px;
}

.girlsContainer .pics {
  transition: all 350ms ease;
  -webkit-transition: all 350ms ease;
  cursor: pointer;
  margin-bottom: 12px;
}

.girlsContainer .pics img {
  border-radius: 10px;
}

.girlsContainer .pics:hover {
  filter: opacity(0.8);
}

@media (max-width: 991px) {
  .girlsContainer {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
}

@media (max-width: 480px) {
  .girlsContainer {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    -webkit-column-width: 100%;
    column-width: 100%;
  }
}

.model {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  visibility: hidden;
  transition: opacity 0.4s ease, visibility 0.4s ease,
    transform 0.5s ease-in-out;
  opacity: 0;
  transform: scale(0);
  overflow: hidden;
  z-index: 99;
}

.model.open {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}

.model img {
  width: auto;
  max-width: 100%;
  height: auto;
  display: block;
  line-height: 0;
  box-sizing: border-box;
  max-height: 100%;
  padding: 20px 0 20px;
  margin: 0 auto;
}

.model.open svg {
  position: fixed;
  top: 10px;
  right: 10px;
  width: 2rem;
  height: 2rem;
  padding: 5px;
  background-color: (0, 0, 0, 0.4);
  color: white;
  cursor: pointer;
}
