.chatBot {
  animation: animated 7s linear infinite;
}

.whatsAppImage {
  width: 60px;
  margin: 20px;
  background: transparent;
  /* filter: drop-shadow(10px 7px 10px #ed00007a); */
}

@media (max-width: 768px) {
  .whatsAppImage {
    width: 60px;
    right: 200;
  }
}

.divider {
  height: 2px;
  width: 50% !important;
  background-color: white;
  margin: 10px 0px;
}
